<!DOCTYPE html>
<html>
<head>
	<link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
    <img src="/images/mt_logo.png" width="38" height="38" class="d-inline-block align-top" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/vehicles">Vehicles</a>
            </li>
            <li class="nav-item">
              <%= link_to "Add Vehicle", new_vehicle_path, :class => 'btn btn-info'  %>
            </li>
          </ul>
                   
          <%= form_tag vehicles_path, class: 'form-inline my-2 my-lg-0', :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "e.g. Honda Civic", class: 'form-control mr-sm-2' %>
          <%= submit_tag "Search", name: nil, class: 'btn btn-outline-success my-2 my-sm-0'  %> 
          <% end %>

    </div>
  </div>
</nav>



<!-- Body of Landing Page -->
<div class="welcome">
	<section class="section section--hero">
	<div class="jumbotron">
		<div class="container">
		  <h1 class="display-4">Hello, Master of Torque!</h1>
		  <p class="lead">Vehicular social platform to keep track of your modifications and maintenance.</p>
		  <hr class="my-4">
		  <p>Don't have an account? Click the link below, yes it's free.</p>
		  
		  
		  <a class="btn btn-warning btn-lg" href="#" role="button" data-toggle="modal" data-target="#exampleModal">Sign up</a>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-outline-success">Register</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	</section>
		<section class="section section--contact">
			<div class="wrapper no-pad">
				<div class="columns">
					<div class="column">
						<h3>Keep in touch</h3>
						<table class="welcome-contact-table">
							<tbody>
								<tr>
									<td>GitHub</td>
									<td><a href="https://github.com/rivas1">github.com/rivas1</a></td>
								</tr>
								<tr>
									<td>Twitter</td>
									<td><a href="https://twitter.com/vastolorde616">@vastolorde616</a></td>
								</tr>
								<tr>
									<td>Instagram</td>
									<td><a href="https://instagram.com/rivas1">instagram.com/vastolorde616</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</section>

		<footer>
			<div class="footer">
				
					<ul class="footer-left">
						<li> <a href="/">Terms of Use</a> </li>
					</ul>

			</div>
		</footer>
	</div>
</div>



</body>
</html>